#footer {
    bottom: 0;

    .col-6 {
        display: flex;
        height: 60px;
        background-color: #212529;
        color: gold;
    }
}

#customFooter {
    bottom: 0;
}

#footerRow {
    margin: 0;
}

#reservedRights {
    justify-content: right;
    align-items: center;
}

.footer-social {
    display: flex;
    margin: 5px;
}

.footer-list {
    list-style: none;
    display: flex;
    padding: 0;

    li {
        padding: 0px 8px;
    }
}

.reserved-rights {
    justify-content: right;
}

.col-6 p {
    justify-content: right;
    margin: 0;
    padding: 0px 1px 0px 5px;
}