#customHeader {
    position: sticky;
}

.navbar-brand {
    background-image: url(https://www.ironmaiden.com/assets/img/logo.png);
    background-repeat: no-repeat;
    width: 288px;
    height: 60px;
    margin-left: 15px;
}

.nav-link {
    color: gold;
    text-align: end;
    &:hover {
        border: 2px solid gold;
        border-radius: 8px;
        color: gold;
        text-decoration: dashed;
        transition: all 0.25s ease;
    }
}

#navbarNav{
    justify-content: right;
    margin-right: 10px;
}

.navbar-nav{
    .nav-link.active {
    color: gold;
    font-weight: bold;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

