#customHeader {
    position: sticky;
}

.navbar-brand {
    color: gold;

    &:hover {
        font-weight: bolder;
        color: goldenrod;
        font-size: x-large;
        font-style: oblique;
        transition: all 0.25s ease;
    }
}

.nav-link {
    color: gold;

    &:hover {
        border: 2px solid gold;
        border-radius: 8px;
        color: gold;
        text-decoration: dashed;
        transition: all 0.25s ease;
    }
}

.navbar-nav .nav-link.active {
    color: gold;
    font-weight: bold;
}

.navbar-toggler:focus {
    box-shadow: none;
}